*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

html {
  scrollbar-width: 0;

  &::-webkit-scrollbar {
    width: 0;
  }
}

body {
  font-family: 'Roboto';
  font-weight: 400;
  background: $bg;
}

a {
  text-decoration: none;
  padding: 12px 0;
  margin: 0 12px;
  color: inherit;
  opacity: .6;
  transition: $transition;

  &:hover {
    opacity: 1;
  }

  &.router-link-active {
    font-weight: 500;
    opacity: 1;
  }
}

button {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

input {
  border: none;
  outline: none;
}